
:root{
    --black:var(--black);
}
/*web*/
#web{
    min-width: 500px;
}
/*header*/
header {
    display:flex;
    justify-content:space-around;
    background-color:rgb(125, 192, 206);
}
/*header a*/
header a{
    text-align: center;
    text-decoration: none;
    padding: 50px;
}
/*header logo*/
#logo{
    border-radius:50%;
    padding-left: 0px;
    height: 100px;
    margin-top: 10px;
}
/*main*/
#main{
    text-align: center;
    padding: 25px 10px;
    background-image: url(images/benyamin-bohlouli-vVKh9xeLub4-unsplash.jpg);
    background-size: cover;
    height:500px;
}

/*article*/
.services{
    background-color: rgb(177, 175, 175);
    color: black;
    padding: 20px;
    text-transform: uppercase;
}
/*article h1*/
.services h1{
    color:black;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}
/*Article box*/
.box{
    display:flex; 
    justify-content: space-between;
    color:var(--black);
}
/*article/box-1*/
.box-1{
    background-image: url(images/lafayett-zapata-montero-loBRFqXm1QA-unsplash.jpg);
    justify-content: space-between;
    color: var(--black);
    background-size: cover;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid rgb(218, 214, 214);
    padding: 0px;
    margin: 0px;
}
/*article/box(h1)*/
.box h1{
    padding-top: 10px;
    text-align: center;
    color: var(--black);
}
/*article/box-2*/
.box-2{
    background:url(images/quang-tri-nguyen-VxVO1zrY5F8-unsplash.jpg);
    justify-content: space-between;
    color:var(--black);
    background-size: cover;
    width:400px;
    height:300px;
    border-radius: 5px;
    border: 2px solid rgb(218, 214, 214);
    padding: opx;
    margin: 0px;
}
/*article/box-3*/
.box-3{
    background:url(images/peter-kasprzyk-U1gvhqVQ2kQ-unsplash.jpg);
    justify-content: space-between;
    color:var(--black);
    background-size: cover;
    width:400px;
    height:300px;
    border-radius: 5px;
    border: 2px solid rgb(218, 214, 214);
    padding: opx;
    margin: 0px;   
}

/*section/We*/
.We{
    display: flex;
    justify-content: space-between;
}
/*section/footer*/
.footer{
    background-color: black;
    color: #fff;
    padding: 50px 30px;
}
/*section/footer span*/
#About p{
    color: #fff;
}
.We span{
    color: #fff;
}
/*section/copyright*/
#copyright{
    color: #fff;
    text-align: center;
    padding-top: 50px;
    margin-top: 0px;
}
@media only screen and (min width 500px{
.box{
    display:grid;
    grid-template-columns: 3 fr;    
    justify-content: space-between;
    color:var(--black);
    align-items:center;
}
}
